@using Microsoft.AspNetCore.Identity

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using ComputerApp.ViewModels;
@using ComputerApp.Services;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject HelperService HelperService

@{
    var cartItemsNumber = Context.Session.GetString("SessionCartItemsNumber");
    string totalPrice = Context.Session.GetString("SessionCartItemsTotalPrice");
    List<ComputerVM> cartDataFromControllers = new List<ComputerVM>();
    bool isAdmin = false;
    if (Context.Session.GetString("SessionCartItems") != null)
    {
        cartDataFromControllers = JsonConvert.DeserializeObject<List<ComputerVM>>(Context.Session.GetString("SessionCartItems"));
    }
   
}


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        AppUser myCurrentUser = await UserManager.GetUserAsync(User);
        if (myCurrentUser != null && await UserManager.IsInRoleAsync(myCurrentUser, "admin"))
        {
            isAdmin = true;
        }
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="padding-top: 13px;">Hi @myCurrentUser.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white" style="padding-top: 12px;" data-toggle="tooltip" title="Click to Logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;</button>  @*LOGOUT*@
            </form>
        </li>

        <li id="shopping-cart" class="dropdown">
            @if (!isAdmin)
            {
                <a href="#" style="text-decoration: none;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="fa fa-shopping-cart bigicon"></span>&nbsp;(@cartItemsNumber)<span class="caret"></span>
                </a>
            }

            <ul class="dropdown-menu dropdown-cart" role="menu">
                <li class="text-right" style="border-bottom: 1px solid #ccc">Total: <span class="text-info">@totalPrice</span></li>
                @foreach (var item in cartDataFromControllers)
                {
                    <li style="border-bottom:1px solid #ccc;">
                        <span class="item">
                            <span class="item-left">
                                <img src="@item.ImgUrl" alt="" class="img-cart" />
                                <span class="item-info">
                                    <span class="d-inline-block text-truncate" style="max-width: 100px;">@await HelperService.GetComputerNameAsync(item.ComputerId)</span>
                                    <span class="badge badge-dark" style="width: auto;">@item.Qty (unit)</span>
                                    <span>@string.Format("€{0:N2}", item.Price)</span>
                                    @*<span class="badge badge-primary">@string.Format("€{0:N2}", item.Price)</span>
                                <span class="badge badge-dark">Quantity: @item.Qty</span>*@

                                </span>
                            </span>
                            <span class="item-right">
                                <a class="btn btn-outline-danger" asp-controller="Computers" asp-action="Delete" asp-route-id="@item.ComputerId"><i class="far fa-trash-alt"></i></a>
                            </span>
                        </span>
                    </li>
                }

                <li class="divider"></li>
                <li><a class="text-center btn btn-lg btn-block btn-outline-dark" style="line-height: 0.2;" asp-controller="Computers" asp-action="Index"><i class="fas fa-cart-plus"></i>&nbsp;&nbsp;View Cart</a></li>
                @*<a class="btn btn-lg btn-block text-truncate mt-auto btn-primary " style="margin-top: auto;" asp-route-computerId="@computerItem.Id" asp-action="AddToCart"><i class="fas fa-cart-plus"></i></a>*@
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Register" style="padding-top: 13px;">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white-50" asp-area="Identity" asp-page="/Account/Login" style="padding-top: 13px;">Login</a>
        </li>
    }
</ul>
