@using ComputerApp.Services;
@model AppUser
@inject GlobalValuesService GlobalValuesService
@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit User Rol </h1>
<div class="card">
    <form asp-action="EditUser">
        <input type="hidden" asp-for="Id" />
        <img src="http://clipart-library.com/images/pi7rn845T.png" alt="User" style="width:300px; height:200px;">
        <h1>@Model.Name</h1>
        <p class="title">@Model.UserName</p>
        <div style="padding-bottom:15px;" class="d-flex justify-content-center">
            <div class="custom-control custom-radio" style="padding-right:15px;">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="selectedRole" value="client" checked>
                <label class="custom-control-label" for="defaultChecked">Client</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="selectedRole" value="admin">
                <label class="custom-control-label" for="defaultUnchecked">Admin</label>
            </div>
        </div>
        <p><button type="submit">Update Rol</button></p>
    </form>
    @if (GlobalValuesService.GetShowMessage())
    {
        GlobalValuesService.SetShowMessage(false);
        //https://love2dev.com/blog/custom-javascript-alert/
        <script type="x-template" id="banner-template">
            <div class="banner banner-top alert-primary active" role="alert">
                @GlobalValuesService.GetMessage()
                <span class="banner-close"></span>
            </div>
        </script>
        <script>
            function getBannerTemplate() {
                var template = document.querySelector("#banner-template");
                return template.innerHTML;
            }

            function createFragment(htmlStr) {
                var frag = document.createDocumentFragment(),
                    temp = document.createElement('div');
                temp.innerHTML = htmlStr;
                while (temp.firstChild) {
                    frag.appendChild(temp.firstChild);
                }
                return frag;
            }

            function injectTemplate(template) {
                document.body.appendChild(createFragment(template));
            }
            var simpleAlert = document.querySelector(".simple-alert");
            injectTemplate(getBannerTemplate());
            var btnClose = document.querySelector(".banner-close");
            btnClose.addEventListener("click", function (closeEvt) {
                var banner = document.querySelector(".banner");
                banner.parentNode.removeChild(banner);
            });

        </script>
    }
</div>

@section Scripts {
    <link href="@Url.Content("~/css/edit-user.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/banner-popup.css")" rel="stylesheet" type="text/css" />
}
