@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@using ComputerApp.ViewModels;
@using ComputerApp.Services;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject HelperService HelperService

@{
    ViewData["Title"] = "Home Page";
    List<CType> CTypes = (List<CType>)ViewData["CTypes"];
    List<ComputerComponent> ComputerComponents = (List<ComputerComponent>)ViewData["ComputerComponents"];
    List<Component> Components = (List<Component>)ViewData["Components"];

    List<Computer> Computers = await HelperService.BuildComputerListAsync(true);
    List<Computer> Laptops = await HelperService.BuildComputerListAsync(false);
    Computers.AddRange(Laptops);

    List<AppUser> MyUsers = (List<AppUser>)ViewData["MyUsers"];
}

@{
    bool isAdmin = false;
    AppUser myCurrentUser = await UserManager.GetUserAsync(User);
    if (myCurrentUser != null && await UserManager.IsInRoleAsync(myCurrentUser, "admin"))
    {
        isAdmin = true;
    }
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    @if (isAdmin)
    {
        <a class="btn btn-outline-primary" href="#"><i class="fas fa-users-cog fa-7x"></i><br />Admin</a>
        <hr />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"
                   id="ctypes-tab"
                   data-toggle="tab"
                   href="#ctypes"
                   role="tab"
                   aria-controls="ctypes"
                   aria-selected="true">Component Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="components-tab"
                   data-toggle="tab"
                   href="#components"
                   role="tab"
                   aria-controls="components"
                   aria-selected="false">Component</a>  @*Al component*@
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="computers-tab"
                   data-toggle="tab"
                   href="#computers"
                   role="tab"
                   aria-controls="computers"
                   aria-selected="false">Computer</a>  @*Los modelos de computer*@
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="orders-tab"
                   data-toggle="tab"
                   href="#orders"
                   role="tab"
                   aria-controls="orders"
                   aria-selected="false">Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   id="userAdministration-tab"
                   data-toggle="tab"
                   href="#userAdministration"
                   role="tab"
                   aria-controls="userAdministration"
                   aria-selected="false">User Management</a>
            </li>
        </ul>
        <div class="tab-content text-left" id="myTabContent">
            <div class="tab-pane fade show active" id="ctypes" role="tabpanel" aria-labelledby="ctypes-tab">
                <p style="padding-left:10px; padding-top:15px;">
                    <a class="btn btn-outline-primary" asp-action="Create" asp-controller="CTypes">Add New Type</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Computer Types
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in CTypes)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <div>
                                        <a class="btn btn-outline-primary" asp-controller="CTypes" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-outline-info" asp-controller="CTypes" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                                        <a class="btn btn-outline-danger" asp-controller="CTypes" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="components" role="tabpanel" aria-labelledby="components-tab">
                <p style="padding-left:10px; padding-top:15px;">
                    <a class="btn btn-outline-primary" asp-controller="Components" asp-action="Create">Add New Component</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Component Type
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Components)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComponentType.Name)
                                </td>
                                <td>
                                    <div>
                                        <a class="btn btn-outline-primary" asp-controller="Components" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-outline-info" asp-controller="Components" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                                        <a class="btn btn-outline-danger" asp-controller="Components" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="computers" role="tabpanel" aria-labelledby="computers-tab">
                <p style="padding-left:10px; padding-top:15px;">
                    <a class="btn btn-outline-primary" asp-controller="Computers" asp-action="Create">Add New Computer</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 560px;">
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                IsDesktop
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Computers)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    € @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDesktop)
                                </td>
                                <td>
                                    <div>
                                        <a class="btn btn-outline-primary" asp-controller="Computers" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-outline-info" asp-controller="Computers" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                                        <a class="btn btn-outline-danger" asp-controller="Computers" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                Order -> Hay que implementarla, sacarla del Index de Order
            </div>
            <div class="tab-pane fade" id="userAdministration" role="tabpanel" aria-labelledby="userAdministration-tab">
                @if (MyUsers.Any())
                {
                    <p style="padding-left:10px; padding-top:15px;">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary mb-3" style="width:auto;">
                            Add new user
                        </a>
                    </p>

                    foreach (var user in MyUsers)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                <strong>User Id : @user.Id</strong>
                            </div>
                            <div class="card-body">
                                <p class="card-title" style="margin:0px;padding:0px;"><strong>User: </strong>@user.Name</p>
                                <p class="card-title" style="margin:0px;padding:0px;"><strong>UserName: </strong>@user.UserName</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-outline-primary" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                                <a class="btn btn-outline-danger" asp-action="EditUser" asp-route-id="@user.Id">Delete</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card">
                        <div class="card-header">
                            No users created yet
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                Use the button below to create a user
                            </h5>
                            <a class="btn btn-outline-primary" style="width:auto" asp-area="Identity" asp-page="/Account/Register">
                                Add new user
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Desktop" asp-route-isDesktop="True"><i class="fas fa-desktop" style="font-size:15rem"></i><br />Desktop</a>
        <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Desktop" asp-route-isDesktop="False"><i class="fas fa-laptop" style="font-size:15rem"></i><br />Laptop</a>
    }

</div>
