@using Microsoft.AspNetCore.Identity
@using ComputerApp.ViewModels;
@model IEnumerable<ComputerApp.ViewModels.ComputerVM>
@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-left" style="padding-left:10px; color:#ccc">My Shopping Bag</h1>

@*<p>
        <a asp-action="Create">Create New</a>
        <a asp-action="BuildComputer">Build your own computer</a>
    </p>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ImgUrl)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src=@Html.DisplayFor(modelItem => item.ImgUrl) width="200" alt="Alternate Text" />
                    </td>
                    <td>
                        @foreach (var computer in (List<Computer>)ViewData["myList"])
                        {
                            if (item.ComputerId == computer.Id)
                            {
                                <p><strong>@computer.Name</strong></p>
                            }
                        }
                        @foreach (string product in item.Products)
                        {
                            <p style="line-height: 30%;">@product</p>
                        }
                        @*@Html.DisplayFor(modelItem => item.Products)*@

                    </td>
                    <td>
                        @string.Format("€{0:N2}", item.Price)
                        @*@Html.DisplayFor(modelItem => item.Price)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @string.Format("€{0:N2}", item.TotalPrice)
                        @*@Html.DisplayFor(modelItem => item.TotalPrice)*@
                    </td>
                    <td>
                        <div>
                            @if (item.Products.Count == 0)
                            {
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ComputerId"><i class="far fa-trash-alt"></i></a>
                            }
                            else
                            {
                                <a class="btn btn-outline-primary" asp-action="BuildComputerEdit" asp-route-id="@item.ComputerId"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ComputerId"><i class="fas fa-info-circle"></i></a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ComputerId"><i class="far fa-trash-alt"></i></a>

                            }
                        </div>
                    </td>
                </tr>

            }
        }

    </tbody>
</table>
<hr />

@if (ViewBag.myList.Count != 0) //Cuando no hay elementos en la lista, no hya nada que CheckOut ni TotalPrice to show
{
    <p class="text-right">
        <strong>Total Price:</strong>&nbsp;&nbsp;@ViewData["totalPrice"]
    </p>
    <hr />
    <div style="display:flex;justify-content: flex-end;">
        <a class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"><i class="fas fa-euro-sign"></i>&nbsp;&nbsp;Check Out</a>
        <!-- Modal -->
        <div class="modal fade"
             id="myModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>Click on Accept</strong> and your Order will be in progress</p>
                        <p>A representative will contact you soon to finalize the purchase!!!</p>
                    </div>
                    <div class="modal-footer">
                        <form role="form" action="@Url.Action("CheckOut", "Computers")" class="form-horizontal" method="POST">
                            <button type="submit" class="btn btn-secondary" id="Accept">Accept</button>
                        </form>
                        @*<button asp-action="CheckOut" type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

}




<script type="text/javascript">

    @*$('#Accept').click(function (e) {
      // Prevent your default behavior
      e.preventDefault();
      // Get the key for the element you want to delete (perhaps reading from a hidden field etc.)
      //var keyToDelete = $('#YourKey').val();
      // Perform your POST to delete the element
      $.get('@Url.Action("CheckOut","Computer")', function(){
           // alert('You have successfully deleted');
            $('#confirmation').modal('hide');
      });
})*@


</script>